*.iml
.gradle
.kotlin
build
local.properties
.credentials
.idea
.venv*
.ruby*
*.pyc
__pycache__
.DS_Store*
/captures
.externalNativeBuild
.cxx
kotlin-js-store

# iOS projects
*.podspec
*.xcodeproj
*.xcworkspace
Pods
